/* Stilurile de bază */
.main-nav {
    list-style: none;
    padding: 15px;
    margin: 0;
}

.main-nav > li {
    position: relative;
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%; 
    left: 0;
    display: none; 
    background: #fff; 
    border: 1px solid #ddd; 
    z-index: 1000; 
}

.dropdown:hover .dropdown-menu {
    display: block; 
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #000;
}

.dropdown-menu li a:hover {
    background: #f0f0f0; 
}

.menu-item {
    display: flex;
    align-items: center;
    font-size: 16px; 
    color: #8B2E57;
}

.menu-icon {
    display: inline-block;
    width: 18px; 
    height: 14px; 
    position: relative;
    margin-right: 8px;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
    position: absolute;
    width: 100%; 
    height: 2px; 
    background-color: #8B2E57; 
    left: 0;
}

.menu-icon::before {
    top: 0; 
}

.menu-icon::after {
    top: 14px; 
}

.menu-icon .middle-line {
    position: absolute;
    top: 7px; 
    left: 0;
    width: 100%; 
    height: 2px; 
    background-color: #8B2E57; 
}

header {
  background-color: var(--header-background-color);
  color: var(--text-color);
}

header a {
  color: var(--text-color);
}

header a:hover {
  color: var(--text-color); 
}

.fa-heart-o {
    color: var(--text-color) !important;
  }
  
.fa-shopping-cart {
    color: var(--text-color) !important;
}