
<header>
  
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-right">
        <li #themeToggle id="theme-toggle" class="theme-toggle">
          <a><i class="fa fa-moon-o"></i><span id="theme-label">Dark Mode</span></a>
        </li>
        <li><i class="fa fa-dollar"></i> USD</li>
        <li *ngIf="!isAuthenticated" ><a href="#" routerLink="/login"><i class="fa fa-user-o"></i> My Account</a></li>
        <li *ngIf="isAuthenticated" ><a routerLink="/user-profile"><i class="fa fa-user-o"></i> My Account</a></li>
      </ul>
    </div>
  </div>
 
 
  <div id="header">
    
    <div class="container">
     
      <div class="row">
        
        <div class="col-md-3">
          <div class="header-logo">
            <a href="#" class="logo">
              <img src="/assets/img/logo.png" alt="">
            </a>
          </div>
        </div>
       
        
        <div class="col-md-6">
          <div class="header-search">
            <form>
              <input class="input" placeholder="Search here">
              <button class="search-btn">Search</button>
            </form>
          </div>
        </div>
        
       
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
           
            <div *ngIf="!isAuthenticated">
              <a href="#" routerLink="/login">
                <i class="fa fa-heart-o"></i>
                <span>Your Wishlist</span>
              </a>
            </div>
            <div *ngIf="isAuthenticated">
              <a routerLink="/wishlist">
                <i class="fa fa-heart-o"></i>
                <span>Your Wishlist</span>
                <div class="qty">{{ wishlistLength }}</div>
              </a>
            </div>

           
            <div *ngIf="!isAuthenticated">
              <a href="#" routerLink="/login">
                <i class="fa fa-shopping-cart"></i>
                <span>Your Cart</span>
              </a>
            </div>
            <div *ngIf="isAuthenticated">
              <a routerLink="/cart">
                <i class="fa fa-shopping-cart"></i>
                <span>Your Cart</span>
                <div class="qty">{{ cartLength }}</div>
              </a>
            </div>
            
           
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            
          </div>
        </div>
        
      </div>
      
    </div>
    
  </div>
  
</header>


